@import 'variables';

.checkbox input:checked + .input-helper::before {
  background-color: $corporate-hue;
  border-color: $corporate-hue;
}

.checkbox .input-helper::before,
.radio .input-helper::before {
  border: 1px solid $corporate-hue;
}

.radio .input-helper::after {
  background-color: $corporate-hue;
}

.bgm-corporate,
.lcb-navigation a {
  background-color: $corporate-hue !important;
}

.login-content {
  background-color: $light-corporate-hue;
}

.c-corporate {
  color: $corporate-hue !important;
}

[data-ma-theme="red"] {
  background-color: $corporate-hue;

  .ss-icon {
    color: $corporate-hue;
  }
}

.easy-pie .percent {
  color: $corporate-hue;
}

.fg-line:not([class*=has-])::after {
  background: $corporate-hue;
}

.datepicker table td.active::before {
  background-color: $corporate-hue;
}

.datepicker table thead tr:first-child th {
  background: $corporate-hue;
}

.datepicker table thead tr:last-child:not(:only-child) {
  background: $light-corporate-hue;
}

.datepicker table thead tr:first-child th:hover {
  background: $corporate-hue !important;
}

.bootstrap-select > .btn-default:not(.disabled)::after,
.bootstrap-select > .btn-default:not(.readonly)::after {
  background: $corporate-hue;
}

@media (max-width: 767px) {
  [data-current-skin="red"] .ha-menu {
    background: $corporate-hue;
  }
}

body.login-content::before {
  background: $corporate-hue none repeat scroll 0 0;
}

button.confirm.btn.btn-lg.btn-warning {
  background-color: $corporate-hue;
}

.alert-danger {
  color: $white;
}

.has-error .help-block,
.has-error .control-label,
.has-error .radio,
.has-error .checkbox,
.has-error .radio-inline,
.has-error .checkbox-inline,
.has-error.radio label,
.has-error.checkbox label,
.has-error.radio-inline label,
.has-error.checkbox-inline label {
  color: $corporate-hue;
}

.tab-nav:not([data-tab-color]) > li > a::after {
  background: $corporate-hue !important;
}

.tab-nav li>a {
  color: $corporate-hue;
}
